.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}


.hero-button {
  margin-top: 30px;
  padding-left: 485px;
  padding-right: 485px;
  padding-bottom: 200px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.button {
  display: flex;
  color: #FFFFFF;
  background-color: #2196F3;
}

.button-input {
  padding-top: 108px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196F3;
}

.social-list-link:hover .social-list-svg {
  fill: #FFFFFF;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  margin-top: 16px;
}

.social-list-svg {
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-list-link:hover {
  background-color: #2196F3;
}

.command-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-svg {
  padding-top: 6px;
  width: 18px;
  height: 18px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form-btn {
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  color: #FFFFFF;
  background: #2196F3;
  border-radius: 4px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-wrapper {
  padding-left: 124px;
}

.modal-form-field-wrapper {
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-policy-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid;
  margin-top: 20px;
  margin-right: 9px;
}

.modal-form-policy {
  height: 8px;
  width: 11px;
  border-radius: 0px;
  background-image: url("../img/Vector.png");
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-image: url("../img/Vector.png");
  background-color: #2196F3;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
}

.header-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /*identical to box height */
  letter-spacing: 0.03em;
  color: #2196F3;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.accent {
  color: #000000;
}

.navigation-list {
  padding-top: 32px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.section-address,
.address-studio {
  display: flex;
  margin-left: auto;
}

.navigation-active-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.navigation-active-link::after {
  content: "";
  display: flex;
  background-position: bottom;
  margin-top: 28px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link {
  margin-left: 30px;
}

.header-mail-link,
.header-tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover {
  color: #2196F3;
}

.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196F3;
}

.address:hover svg {
  fill: #2196F3;
}

.mail-svg,
.tel-svg {
  margin-right: 10px;
}

.navigation-list-link::after {
  content: "";
  display: flex;
  background-position: bottom;
  margin-top: 28px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 0;
}

.navigation-list-link:hover::after {
  opacity: 1;
}

.hero {
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg.jpg");
}

.hero-title {
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.heading-box {
  display: flex;
  justify-content: space-between;
}

.heading-title {
  margin-bottom: 50px;
}

.about {
  padding-top: 199px;
  text-align: center;
}

.heading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
}

.heading {
  position: relative;
}

.services {
  display: flex;
  padding-top: 94px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-title::before {
  display: inline-block;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.services-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  width: 270px;
  height: 16px;
  margin-top: 30px;
}

.services-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 75px;
}

.antenna {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}

.clock {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}

.diagram {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}

.command {
  padding-top: 94px;
  background: #F5F4FA;
}

.team {
  background: #FFFFFF;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team:last-child {
  margin-right: 0;
}

.team-card {
  width: 270px;
  height: 168px;
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-title {
  margin-bottom: 18px;
}

.dream-team {
  padding-top: 50px;
  padding-bottom: 94px;
}

.dream-team {
  display: flex;
  justify-content: space-between;
}

.command-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  margin-bottom: 50px;
}

.clients-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.clients-box {
  fill: #AFB1B8;
}

.clients-box:hover {
  border-color: #2196F3;
}

.clients-box:hover .clients-icon {
  fill: #2196F3;
}

.contact-address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.contact-mail {
  margin-bottom: 9px;
}

.container-address {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer {
  background: #2F303A;
}

.footer-contact {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-item {
  color: #FFFFFF;
}

.footer-accent {
  color: #FFFFFF;
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer .container {
  display: flex;
}

.footer-social-icon {
  height: 20px;
  fill: #FFFFFF;
}

.container-social {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 93px;
}

.mail-input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 72px;
  margin-left: 93px;
}

.input-icon {
  margin-left: 10px;
  width: 24px;
  fill: #FFFFFF;
}

.form-input-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
/*# sourceMappingURL=main.css.map */