.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.header.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header-container {
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    /*  .header & {
      display: flex;
      align-items: center;
    } */
  }
  .footer .container {
    display: flex;
  }
}

.hero-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196F3;
}

.social-list {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  margin-top: 16px;
}

.social-list-svg {
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #FFFFFF;
}

.footer-social-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-list-link:hover {
  background-color: #2196F3;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .social-list {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    display: flex;
    background: #FFFFFF;
    margin-top: 16px;
  }
  .footer-social-list {
    display: flex;
    justify-content: space-between;
  }
}

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    background: $color-secondary;
    padding: 40px;
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $color-secondary;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
   
  }
  .modal-svg {
    padding-top: 6px;
    width: 18px;
    height: 18px;
   
  }
  
  .modal-title {
   
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: $title-color;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
  
  .modal-form-btn {
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    
    color: $color-secondary;
    background: $accent-color;
   
    margin-top: 30px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btn-wrapper {
    padding-left: 124px;
  }
  
  .modal-form-field-wrapper {
    position: relative;
    margin-top: 4px;
  }
  
  .modal-form-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
  }
  .modal-form-input:focus,
  .modal-form-message:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
  
  .modal-form-input:focus + .modal-form-svg-icon {
   fill: $accent-color;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 0.01em;
    color: $subtitle-color;
    margin-top: 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-message {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
  }
  
  .modal-form-svg-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  
  .modal-form-policy-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    color: $subtitle-color;

    &::before {
      display: inline-block;
      content: "";
      width: 16px;
      height: 15px;
      outline: 1px solid ;
      margin-top: 20px;
      margin-right: 9px;
    }

  }  
 
  
  .modal-form-policy {
    height: 8px;
    width: 11px;
    border-radius: 0px;
    background-image: url("../img/Vector.png");
   
  }
  
  .modal-form-policy:checked + .modal-form-policy-label::before {
    background-image: url("../img/Vector.png");
    background-color: $accent-color;
  } */
.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
}

.header-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.accent {
  color: #000000;
}

.navigation-list {
  padding-top: 32px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.section-address,
.address-studio {
  display: flex;
  margin-left: auto;
}

.navigation-active-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.navigation-active-link::after {
  content: "";
  display: flex;
  background-position: bottom;
  margin-top: 28px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover {
  color: #2196F3;
}

.navigation-list-link::after {
  content: "";
  display: flex;
  background-position: bottom;
  margin-top: 28px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 0;
}

.navigation-list-link:hover::after {
  opacity: 1;
}

.header-tel-link {
  margin-left: 30px;
}

.header-mail-link,
.header-tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196F3;
}

.address:hover svg {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .header-logo {
    font-size: 24px;
    line-height: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
  }
  .menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    padding-top: 10px;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button:hover .icon-menu,
  .menu-button:focus .icon-menu {
    fill: #2196F3;
  }
  .header {
    position: relative;
  }
  .header-menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-logo {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 31px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  .mail-svg,
  .tel-svg {
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 0px) {
  .hero {
    background: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    background: 1600px 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg-desktop.jpg");
  }
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .heading-box {
    display: flex;
    justify-content: space-between;
  }
  .about {
    padding-top: 34px;
    padding-bottom: 94px;
    text-align: center;
  }
  .heading-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
  }
  .label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
  }
  .heading {
    position: relative;
  }
}

.services-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  width: 270px;
  height: 16px;
  margin-top: 30px;
}

.services-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.antenna {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}

.clock {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}

.diagram {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) {
  .section {
    padding-bottom: 60px;
  }
  .services {
    padding-top: 60px;
  }
  .services-title::before {
    display: inline-block;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .services-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 60px;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
  }
  .services-title::before {
    width: 100%;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .services-item:nth-child(odd) {
    margin-right: 30px;
  }
  .services-item {
    width: 354px;
  }
  .antenna,
  .clock,
  .diagram,
  .astronaut {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    display: flex;
    padding-top: 94px;
  }
  .services-item {
    width: 270px;
  }
  .services-title::before {
    display: inline-block;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .services-item:not(:last-child) {
    margin-right: 30px;
  }
  .antenna,
  .clock,
  .diagram,
  .astronaut {
    width: 270px;
  }
}

.command {
  background: #F5F4FA;
}

.command-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

@media screen and (min-width: 320px) {
  .command {
    padding-top: 60px;
  }
  .dream-team {
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .command-title {
    font-size: 36px;
    line-height: 1.167px;
  }
}

@media screen and (min-width: 768px) {
  .dream-team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .team:nth-child(odd) {
    margin-right: 30px;
  }
  .team {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .dream-team {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  .command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .team {
    width: 270px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

.command-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.section-clients {
  padding-top: 60px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.clients-box:hover {
  border-color: #2196F3;
}

.clients {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.clients-box:hover .clients-icon {
  fill: #2196F3;
}

@media screen and (min-width: 0px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
  }
  .clients-box {
    margin-bottom: 30px;
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .clients-box {
    margin-bottom: 30px;
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  .clients-box {
    width: 170px;
    height: 90px;
  }
}

/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $footer-bg;
  
}

  .contact-address {
    margin-top: 20px;
    margin-bottom: 9px;
   
  }
  .contact-mail {
    margin-bottom: 9px;
   
  }
  
  .footer-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $accent-color;
  
  }
  
  .footer-contact {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-contact-item {
    color: $color-secondary;
  }  
  
  .footer-accent {
    color: $color-secondary;
  }

  .footer-social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-secondary;
   
  }
  
  .footer-social-icon {
    height: 20px;
    fill: $color-secondary;
  }

 
  .mail-input-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-secondary;
   
  }
 
  .input-icon {
    margin-left: 10px;
    width: 24px;
    fill: $color-secondary;
  }

  .form-input-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
      text-align: center;
    }
    .container-social {
      margin-bottom: 60px;
    }
    .contact-address {
      margin-top: 20px;
      margin-bottom: 9px; 
    }
    .contact-mail {
      margin-bottom: 9px;
    }
    .form-input-mail {
      width: 450px;
      margin-bottom: 20px;
    }
    .contact-tel {
      margin-bottom: 60px;
    }
    .button-input {
      padding-left: 140px;
    }
    .footer-social-list-item {
      margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .footer {
    
    text-align: center;
  }
  .address-social {
    display: flex;
    justify-content: space-between;
  }
  .container-address {
    padding-left: 76px;
  }
  .container-social {
    padding-top: 5px;
    padding-right: 89px;
  }
  .mail-input-title {
    margin-top: 60px;
  }
  .button-input {
    padding-left: 275px;
  }
  .form-input-mail {
    width: 450px;
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 1200px) {
    .footer-logo {
      font-size: 26px;
      line-height: 1.192px;
    }
   
    .container-social {
      width: 206px;
      margin-left: 70px;
      padding-top: 72px;
      padding-bottom: 100px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-social-title {
     margin-bottom: 20px;
     font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $color-secondary;
    }
    
   .button-input {
   padding-top: 108px;
   padding-bottom: 94px;
   
  } 
  .mail-input-title {
    padding-top: 72px;
    margin-left: 93px;
  }
  .form-input-mail {
    width: 358px;
    margin-left: 93px;
  }
  .footer-contact-item {
    width: 231px;
    
  }
}   */
/*# sourceMappingURL=main.css.map */