// utils
@import "./utils/variables";
@import "./utils/visually-hidden";

//  base
@import "./base/common";
@import "./base/container";

//  components
@import "./components/modal-btn";
@import "./components/social-links";
@import "./components/modal";

//  layout
@import "./layout/header";
@import "./layout/hero.scss";
@import "./layout/about";
@import "./layout/services";
@import "./layout/command";
@import "./layout/clients";
@import "./layout/footer";

 