
.command {
  background: #F5F4FA;
}
.command-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
  
}
.team {
  background: $color-secondary;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;

}

@media screen and (min-width:  320px) {
  .command {
    padding-top: 60px; 
  } 
  .dream-team {
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .command-title {
    font-size: 36px;
    line-height: 1.167px;
  }
 
} 

@media screen and (min-width:  768px) {
  .dream-team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 60px;
  } 
  .team:nth-child(odd) {
    margin-right: 30px;
  } 
  .team {
    width: 354px;
  }
  
} 

@media screen and (min-width:  1200px) {
  .dream-team {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  .command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom: 50px;
  }
  .team {
    width: 270px;
  }
}


.team-card {
   
    padding-top: 30px;
    padding-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    letter-spacing: 0.03em;
    color: $subtitle-color;
    text-align: center;
    margin-top: 10px;
}
 
.command-list-name {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  letter-spacing: 0.03em;
  color: $title-color;
  text-align: center;
}