.contact-address {
    margin-top: 20px;
    margin-bottom: 9px;
  }
  .contact-mail {
    margin-bottom: 9px;
  }
  
  .container-address {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: $accent-color;
   
  }
  
  .footer {
    background: $footer-bg;
  }
  
  .footer-contact {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-contact-item {
    color: $color-secondary;
  }  
  
  .footer-accent {
    color: $color-secondary;
  }

  .footer-social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-secondary;
   
  }
  
 
 
 
  .footer-social-icon {
    height: 20px;
    fill: $color-secondary;
  }

  .container-social {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 72px;
    padding-bottom: 100px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input-mail {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 93px;

   
  }
  .mail-input-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-secondary;
    padding-top: 72px;
    margin-left: 93px;
  }

  .button-input {
    padding-top: 108px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
  }
  .input-icon {
    margin-left: 10px;
    width: 24px;
    fill: $color-secondary;
  }

  .form-input-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
  