.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 11px;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}


 /*  .header .container {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
  }

  .navigation-list {
    display: flex;
  }

  .header-logo {
    font-family: var( --secondary-font);
    font-style: normal;  
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $accent-color;
    
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
   
  } 


  .accent {
   color:  #000000;
  }
  
  .navigation-list {
    padding-top: 32px;
    
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .section-address,
  .address-studio {
    display: flex;
    margin-left: auto;

  }

  .navigation-active-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $accent-color;

    &::after {
      content: "";
      display: flex;
      background-position: bottom;
      margin-top: 28px;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
  

  .navigation-list-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accent-color;
    } 
    &::after {
      content: "";
      display: flex;
      background-position: bottom;
      margin-top: 28px;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  .header-tel-link {
    margin-left: 30px;
  }

  .header-mail-link,
  .header-tel-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.02em;
    color: $subtitle-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .header-mail-link:hover,
  .header-mail-link:focus,
  .header-tel-link:hover,
  .header-tel-link:focus {
    color: $accent-color;
    
  }
 
  .address:hover svg {
    fill: $accent-color;
  }
  .mail-svg,
  .tel-svg {
    margin-right: 10px;
  } */
  
