
.services-title {
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  width: 270px;
  height: 16px;
  margin-top: 30px;

}

.services-subtitle  {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $subtitle-color;
 
}


.antenna {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/antenna.png");
  background-repeat: no-repeat;
  background-position: center;
}
.clock {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-position: center;
}
.diagram {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/diagram.png");
  background-repeat: no-repeat;
  background-position: center;
}
.astronaut {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-image: url("../img/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (min-width: 320px) {
  .section{
    padding-bottom: 60px;
    padding-top: 60px;
  }
 
   
  .services-title::before {
    display: inline-block;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  
  .services-item:not(:last-child) {
   margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  
  .section{
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
  }
  
  .services-title::before {
   
    width: 100%;
    background: #F5F4FA;
    border-radius: 4px;

  }
  .services-item:nth-child(odd) {
    margin-right: 30px;
  }  
  .services-item {
    width: 354px;
  }
 
  .antenna,
  .clock,
  .diagram,
  .astronaut {
    width: 354px;
  } 
}

@media screen and (min-width: 1200px) {
  
  .services {
    display: flex;
   
  }
  .services-item {
    width: 270px;
  }
  .services-title::before {
    display: inline-block;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px; 
  }
  
  .services-item:not(:last-child) {
    margin-right: 30px;
  }
  

  .antenna,
  .clock,
  .diagram,
  .astronaut {
    width: 270px;
  }
}

   

