 
  /* .croup {
    display: inline-block;
    position: relative;
    width: 370px;
    height: 404px;
    background: $color-secondary;
    box-sizing: border-box;
    cursor: pointer;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n+3)) {
      margin-bottom: 30px;
    }
  }
  
  .project {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    padding-bottom: 94px;

    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      
      letter-spacing: 0.03em;
      color: $subtitle-color;
    }
  
    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 36px;
  
      letter-spacing: 0.06em;
      color: $title-color;
    }
  
  }
  
  
  .project-item {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;

    &:hover {
      color: $color-secondary;
      border: $subtitle-color;
      box-shadow:  0px 0px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      color: #EEEEEE;
      background-color: $color-secondary;
     }
  }
 

  .section-img {
    width: 370px;
    height: 294px;
   }
   
  .description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(110%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }

  .subtitle-overlay {
    padding-top: 63px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    letter-spacing: 0.03em;
    color: $color-secondary;
  }

  .project-overlay:hover .description-overlay {
    transform: translateY(0px);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .croup-overlay {
    position: relative;
    overflow: hidden;
  } */