.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    overflow-y: scroll;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $color-secondary;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
   
  }
  .modal-svg {
    padding-top: 6px;
    width: 18px;
    height: 18px;
   
  }
  
  .modal-title {
   
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: $title-color;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
  
  .modal-form-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    background: #2196F3;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
  }
  .modal-form-input:focus,
  .modal-form-message:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
  
  .modal-form-input:focus + .modal-form-svg-icon {
   fill: $accent-color;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 0.01em;
    color: $subtitle-color;
    margin-top: 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
  }
  
  .modal-form-svg-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  
  .modal-form-policy-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    color: $subtitle-color;

    &::before {
      display: inline-block;
      content: "";
      width: 16px;
      height: 15px;
      outline: 1px solid ;
      margin-top: 20px;
      margin-right: 9px;
    }

  }  
 
  
  .modal-form-policy {
    height: 8px;
    width: 11px;
    border-radius: 0px;
    background-image: url("../img/Vector.png");
   
  }
  
  .modal-form-policy:checked + .modal-form-policy-label::before {
    background-image: url("../img/Vector.png");
    background-color: $accent-color;
  }

  .modal {

    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 528px;
     height: 581px;
     background: $color-secondary;
     padding: 40px;
   }
  .modal-form-field-wrapper {
    position: relative;
    margin-top: 4px;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $color-secondary;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
   
  }
    .modal-form-field-wrapper {
      position: relative;
      margin-top: 4px;
    }
  @media screen and (max-width: 479px) {
    
    .backdrop {
      padding-top: 94px 15px;
     
    }
    
  }
  @media screen and (min-width: 480px) {
    .modal {
    position: absolute;
    left: 50%;
    width: 450px;
    transform: translateX(-50%) scale(1);
    }
  }
  @media screen and (min-width: 768px) {
    .backdrop {
      
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  @media screen and (min-width: 1200px) {
    .backdrop{
     padding-top: 208px;
     padding-bottom: 208px;
    }
    
  }  

  