
    $color-secondary: #FFFFFF;
    $accent-color: #2196F3;
    $title-color:  #212121;
    $subtitle-color:  #757575; 
    $footer-bg: #2F303A;
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
  